<div>
  <div class="row" style="height: 100vh">
    <div class="col-sm-2 bg-danger text-dark">Menu</div>
    <div
      class="col-sm-5 text-dark"
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
      "
    >
      <div style="width: 95%">
        <h2 style="padding-bottom: 35px; border-bottom: 1px solid gray">
          {{ title }}
        </h2>
        <div style="margin-bottom: 50px;">
          <h5 style="margin-top: 45px">Información</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
            mollitia adipisci praesentium sunt libero odit cumque itaque
            laudantium qui, explicabo debitis ad quia delectus similique vero
            modi recusandae natus veniam!
          </p>
          <button class="bg-danger rounded-5 text-white" style="padding: 10px 5px; border: none; width: 130px;">Empezar --></button>
        </div>
        <div style="display: flex; justify-content: space-around">
          <img
            src="https://images.ecestaticos.com/h34TvzTFVdrau9Un4Wdmwhed_e4=/0x115:2265x1390/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F8ec%2F08c%2F85c%2F8ec08c85c866ccb70c4f1c36492d890f.jpg"
            alt=""
            style="width: 97%; height: 250px; object-fit: cover"
          />
        </div>

        <div
          style="display: flex; justify-content: space-around; margin-top: 15px"
        >
          <img
            src="https://images.ecestaticos.com/h34TvzTFVdrau9Un4Wdmwhed_e4=/0x115:2265x1390/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F8ec%2F08c%2F85c%2F8ec08c85c866ccb70c4f1c36492d890f.jpg"
            alt=""
            style="width: 47%; height: 220px; object-fit: cover"
          />
          <img
            src="https://images.ecestaticos.com/h34TvzTFVdrau9Un4Wdmwhed_e4=/0x115:2265x1390/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F8ec%2F08c%2F85c%2F8ec08c85c866ccb70c4f1c36492d890f.jpg"
            alt=""
            style="width: 47%; height: 220px; object-fit: cover"
          />
        </div>
      </div>
    </div>
    <div class="col-sm-5 bg-info text-white">Otra</div>
  </div>
</div>
